<div class="header-container">
    <div class="left-container">
        <img src="./assets/img/logo.png" alt="logo">
    </div>
    <div class="right-container">
        <div class="input-container">
            <img src="./assets/img/main-page/header/search.png" alt="search">
            <input type="text" name="search" id="search" placeholder="Code learning durchsuchen">
        </div>
        <div (click)="toggleMenu()" class="user-header-container">
            <span>{{firebase.currentUser.name}}</span>
            <div class="avatar-container">
                <img src="{{firebase.currentUser.avatar}}" alt="avatar">
                <div class="status-icon"
                    [ngClass]="{'active-icon': firebase.currentUser.online, 'inactive-icon': !firebase.currentUser.online}">
                </div>
            </div>
            <div class="arrow_down" alt="arrow down"></div>
        </div>
    </div>
</div>
<div (click)="toggleMenu()" class="background-user-menu-container"
    [ngStyle]="{ 'display': isUserMenuActive ? 'unset' : 'none' }">
    <div class="user-menu-container">
        @if (!editUserProfileService.showProfile) {
        <div class="choose-container" (click)="$event.stopPropagation()">
            <span (click)="toggleProfile($event)">Profil</span>
            <span (click)="logOutUser()">Log out</span>
        </div>
        } @else {
        <app-edit-user-profile></app-edit-user-profile>
        }
    </div>
</div>