<div class="header-container">
    <img src="./assets/img/logo.png" alt="logo">
    <div class="input-container">
        <img src="./assets/img/main-page/header/search.png" alt="search">
        <input type="text" name="search" id="search" placeholder="Code learning durchsuchen">
    </div>
    <div class="user-header-container">
        <span>{{currentUser.name}}</span>
        <div class="avatar-container">
            <img src="{{currentUser.avatar}}" alt="avatar">
            <div class="active-icon"></div>
        </div>
        <img (click)="toggleMenu()" src="./assets/img/main-page/header/arrow_down.png" alt="arrow down">
    </div>
</div>
<div (click)="toggleMenu()" class="user-menu-container" [ngStyle]="{ 'display': isUserMenuActive ? 'unset' : 'none' }">
    @if (!showProfile) {
    <div class="choose-container" (click)="$event.stopPropagation()">
        @if (!loggedAsGuest) {
        <span (click)="toggleProfile($event)">Profil</span>
        }
        <span routerLink="/landing-page">Log out</span>
    </div>
    } @else {
    <div (click)="$event.stopPropagation()" class="profile-container">
        <div class="top-container">
            @if(!editUser){
            <span>Profil</span>
            } @else {
            <span>Dein Profil bearbeiten</span>
            }
            <div (click)="toggleProfile($event)" class="close-icon"></div>
        </div>
        <img class="avatar-icon" src="{{currentUser.avatar}}" alt="avatar">
        @if(!editUser) {
        <div class="user-data-container">
            <div class="middle-container">
                <span>{{currentUser.name}}</span>
                <span (click)="toggleEditMenu()">Bearbeiten</span>
            </div>
            <div class="status-container">
                <div class="active-icon"></div>
                <span>Aktive</span>
            </div>
            <div class="bottom-container">
                <div>
                    <img src="./assets/img/main-page/header/email.png" alt="email">
                    <span>E-Mail-Adresse</span>
                </div>
                <a href="mailto:{{currentUser.email}}">{{currentUser.email}}</a>
            </div>
        </div>
        } @else{
        <form [formGroup]="userForm" (ngSubmit)="editUserData()" class="edit-user-data-container">
            <div class="edit-user-container">
                <div class="header-edit-container">
                    <img src="./assets/img/main-page/header/account.png" alt="account">
                    <span>Vollständiger Name</span>
                </div>
                <div class="valid-container">
                    <input type="text" formControlName="name" id="name" placeholder="{{currentUser.name}}">
                    @if (userForm.get('name')?.touched && userForm.get('name')?.invalid) {
                    @if (userForm.get('name')?.errors?.['required']) {
                    <span>Bitte schreiben Sie einen Namen.</span>
                    }
                    @if (userForm.get('name')?.errors?.['pattern']) {
                    <span>Vor- und Nachname müssen mit Großbuchstaben beginnen.</span>
                    }
                    }
                </div>
            </div>
            <div class="edit-user-container">
                <div class="header-edit-container">
                    <img src="./assets/img/main-page/header/email.png" alt="email">
                    <span>E-Mail-Adresse</span>
                </div>
                <div class="valid-container">
                    <input type="email" formControlName="email" id="email" placeholder="{{currentUser.email}}">
                    @if (userForm.get('email')?.touched && userForm.get('email')?.invalid) {
                    @if (userForm.get('email')?.errors?.['required']) {
                    <span>Bitte schreiben Sie eine E-Mail</span>
                    }
                    @if (userForm.get('email')?.errors?.['pattern']) {
                    <span>Diese E-Mail-Adresse ist leider ungültig.</span>
                    }
                    }
                    @if(emailIsExisting) {
                    <span>Diese E-Mail-Adresse ist bereits registriert.</span>
                    }
                </div>
            </div>
            <div class="button-container">
                <button (click)="toggleEditMenu()" type="button">Abbrechen</button>
                <button [disabled]="userForm.invalid" type="submit">Speichern</button>
            </div>
        </form>
        }
    </div>
    }
</div>