.header-container {
    width: 100%;
    height: 115px;
    display: flex;
    padding: 25px 20px 20px 20px;
    gap: 20px;

    .left-container {
        width: 366px;
    }

    .right-container {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    img {
        object-fit: cover;
    }
}

.input-container {
    width: 989px;
    height: 100%;
    position: relative;

    img {
        position: absolute;
        top: 50%;
        right: 45px;
        transform: translateY(-50%);
    }

    input {
        width: 100%;
        height: 100%;
        border-radius: 42px;
        padding: 17.5px 45px;
        font-size: 24px;
        line-height: 32.74px;
        color: #686868;
        border: unset;
    }
}

.user-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    cursor: pointer;

    &:hover span{
        color: #797EF3;

    }

    &:hover .arrow_down {
        background-image: url(./../../../assets/img/main-page/header/arrow_down_hover.png);
    }

    span {
        font-size: 32px;
        font-weight: 700;
        line-height: 43.65px;
    }

    .arrow_down {
        width: 30px;
        height: 30px;
        background-image: url(./../../../assets/img/main-page/header/arrow_down.png);
    }
}

.avatar-container {
    width: 70px;
    height: 70px;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .status-icon {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.background-user-menu-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background-color: rgb(0, 0, 0, 0.4);
}

.user-menu-container {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;

    .choose-container {
        width: 282px;
        height: 181px;
        position: absolute;
        top: 115px;
        right: 45px;
        background-color: white;
        box-shadow: 0px 6px 10px 0px #00000033;
        border-radius: 30px 0 30px 30px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;

        span {
            font-size: 24px;
            line-height: 32.74px;
            font-weight: 500;
            padding: 10px 30px;
            cursor: pointer;

            &:hover {
                background-color: #ECEEFE;
                color: #535AF1;
                border-radius: 100px;

            }
        }
    }
}

.status-icon {
    width: 16.67px;
    height: 16.67px;
    border-radius: 50%;
    border: 2px solid #ECEEFE;
}

.active-icon {
    background-color: #92C83E;
}

.inactive-icon {
    background-color: #686868;
}

.profile-container {
    width: 500px;
    height: 690px;
    position: absolute;
    top: 115px;
    right: 45px;
    background-color: white;
    border-radius: 30px 0 30px 30px;
    padding: 45px 40px;
    box-shadow: 0px 6px 10px 0px #00000033;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 38px;

    .top-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            font-size: 24px;
            font-weight: 700;
            line-height: 32.74px;
        }

        .close-icon {
            width: 40px;
            height: 40px;
            cursor: pointer;
            background-image: url(./../../../assets/img/main-page/header/close.png);

            &:hover {
                background-image: url(./../../../assets/img/main-page/header/close_hover.png);
            }
        }
    }

    .avatar-icon {
        width: 200px;
        height: 200px;
        min-height: 200px;
        border-radius: 500px;
        object-fit: cover;
    }
}

.c-pointer {
    cursor: pointer;

    &:hover {
        border: 8px solid #E6E6E6;
    }
}