<div class="message-container">
  <ngx-editor [editor]="editor!" [(ngModel)]="message.text" [disabled]="false" minHeight="50px" [placeholder]="''"></ngx-editor>
  <div class="message-buttons">
    <app-svg-button [source]="'./assets/img/main-page/workspace-menu/sentiment_satisfied.svg'"  />
    <div class="decision-buttons">
      <button (click)="cancelEdit()">
        Abbrechen
      </button>
      <button class="reverse-button" (click)="saveMessage()">
        Speichern
      </button>
    </div>
  </div>
  </div>