@import "./../../../assets/styles/colors.scss";
@import "./../../../assets/styles/mixIns.scss";

section {
  background-color: white;
  height: 100%;
  border-radius: 30px;
  min-width: 485px;
  font-family: "Nunito";
  overflow: hidden;
  @include displayFlex(column, unset, unset, 0px);
}

app-thread-body {
  flex: 1 1 0;
}