<div class="login-container">
    <h2>Anmeldung</h2>
    <p>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</p>
    <form>
        <div class="pos-rel-container">
            <input type="email" name="email" id="email" placeholder="beispielnamen@email.com">
            <img src="./assets/img/auth/email.png" alt="email">
        </div>
        <div class="pos-rel-container">
            <input type="password" name="password" id="password" placeholder="Passwort">
            <img src="./assets/img/auth/lock.png" alt="lock">
        </div>
        <a (click)="handleIsLoginUrl()" [routerLink]="'forgot-password'">Passwort vergessen?</a>
        <div class="or-container">
            <div class="line-container"></div>
            <span>ODER</span>
            <div class="line-container"></div>
        </div>
        <div class="google-login-container">
            <img src="./assets/img/auth/google.png" alt="google">
            <span>Anmelden mit Google</span>
        </div>
        <div class="login-button-container">
            <button>Anmelden</button>
            <button>Gäste-Login</button>
        </div>
    </form>
</div>