<div (click)="$event.stopPropagation()" class="profile-container">
    <div class="top-container">
        @if(!editUserProfileService.editUser){
        <span>Profil</span>
        } @else {
        <span>Dein Profil bearbeiten</span>
        }
        <div (click)="toggleProfile($event)" class="close-icon"></div>
    </div>
    <img [ngClass]="{'c-pointer': editUserProfileService.editUser}" (click)="onUploadButtonClick()" class="avatar-icon"
        src="{{firebaseService.currentUser.avatar}}" alt="avatar">
    <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" />
    @if(!editUserProfileService.editUser) {
    <div class="user-data-container">
        <div class="middle-container">
            <span>{{firebaseService.currentUser.name}}</span>
            <span (click)="toggleEditMenu()">Bearbeiten</span>
        </div>
        <div class="status-container">
            <div class="status-icon"
                [ngClass]="{'active-icon': firebaseService.currentUser.online, 'inactive-icon': !firebaseService.currentUser.online}">
            </div>
            @if (firebaseService.currentUser.online) {
            <span (click)="handleStatus()"
                [ngClass]="{'active-span': firebaseService.currentUser.online, 'inactive-span': !firebaseService.currentUser.online}">Online</span>
            } @else {
            <span (click)="handleStatus()"
                [ngClass]="{'active-span': firebaseService.currentUser.online, 'inactive-span': !firebaseService.currentUser.online}">Offline</span>
            }
        </div>
        <div class="bottom-container">
            <div>
                <img src="./assets/img/main-page/header/email.png" alt="email">
                <span>E-Mail-Adresse</span>
            </div>
            <a>{{firebaseService.currentUser.email}}</a>
        </div>
    </div>
    } @else{
    <form [formGroup]="userForm" (ngSubmit)="editUserData()" class="edit-user-data-container">
        <div class="edit-user-container">
            <div class="header-edit-container">
                <img src="./assets/img/main-page/header/account.png" alt="account">
                <span>Vollständiger Name</span>
            </div>
            <div class="valid-container">
                <input type="text"
                    [title]="editUserProfileService.googleUser ? 'Als Google-Benutzer können Sie dieses Feld nicht bearbeiten.' : ''"
                    formControlName="name" id="name" placeholder="Bitte Namen eingeben...">
                @if (userForm.get('name')?.touched && userForm.get('name')?.invalid) {
                @if (userForm.get('name')?.errors?.['required']) {
                <span>Bitte schreiben Sie einen Namen.</span>
                }
                @if (userForm.get('name')?.errors?.['pattern']) {
                <span>Vor- und Nachname müssen mit Großbuchstaben beginnen.</span>
                }
                }
            </div>
        </div>
        <div class="edit-user-container">
            <div class="header-edit-container">
                <img src="./assets/img/main-page/header/email.png" alt="email">
                <span>E-Mail-Adresse</span>
            </div>
            <div class="valid-container">
                <input type="email"
                    [title]="editUserProfileService.googleUser ? 'Als Google-Benutzer können Sie dieses Feld nicht bearbeiten.' : ''"
                    formControlName="email" id="email" placeholder="Bitte E-Mail eingeben...">
                @if (userForm.get('email')?.touched && userForm.get('email')?.invalid) {
                @if (userForm.get('email')?.errors?.['required']) {
                <span>Bitte schreiben Sie eine E-Mail</span>
                }
                @if (userForm.get('email')?.errors?.['pattern']) {
                <span>Diese E-Mail-Adresse ist leider ungültig.</span>
                }
                }
            </div>
        </div>
        <div class="button-container">
            <button (click)="toggleEditMenu()" type="button">Abbrechen</button>
            <button [disabled]="userForm.invalid" type="submit">Speichern</button>
        </div>
    </form>
    }
</div>