<section>
  @if (threadChatService.messages.length > 0) { @for (message of
  threadChatService.messages; track $index) {
    
  <app-message
    [message]="message"
    [chat]="threadChatService.chat"
  ></app-message>
  @if ($index == 0) {
    <div>
      <div>{{ threadChatService.message.answerCount }} Antworten</div>
      <div class="line"></div>
    </div>
  }
  } } @else {
  <app-message
    [message]="threadChatService.message"
    [chat]="threadChatService.chat"
  ></app-message>
  }
</section>
