@if(chat && !chatService.newMessage) {
<section
  [ngStyle]="{
    'justify-content': chat.messages.length === 0 ? 'flex-end' : ''
  }"
>
  @if (chat.messages.length > 0) { @for (message of chat.messages; track $index)
  { <app-message [message]="message" [chat]="chat" #messageItem></app-message>
  @if (isNewDate($index)) {
  <div class="timestamp-container">
    <div class="line-container"><div class="line"></div></div>
    <div class="timestamp-line">{{ lastFormattedDate }}</div>
  </div>
  } } } @else {
  <div class="placeholder-container">
    @if (chat && partner) {
    <div
      (click)="showProfileService.toggleShowProfile()"
      class="placeholder-header"
    >
      <img [src]="sanitize(partner.avatar!)" alt="" />

      <span
        >{{ partner.name }} @if(partner.uid ==
        chatService.firebase.currentUser.uid) { <span>(Du)</span> }
      </span>
    </div>
    <div class="placeholder-text">
      @if (partner.uid == chatService.firebase.currentUser.uid) {
      <span class="gray-text-placeholder"
        >Dieser Raum ist nur für dich da.</span
      >
      Mache dir Notizen, liste deine To-dos auf oder bewahre Links und Dateien
      griffbereit auf. Du kannst hier auch gerne Dinge mit dir selbst
      besprechen. } @else { Diese Unterhaltung findet nur zwischen
      <span (click)="showProfileService.toggleShowProfile()" class="link-name"
        >&#64;{{ partner.name }}</span
      >
      und dir statt. }
    </div>
    }
  </div>
  }
</section>
} @else {
  @if (channelService.isChannelSet()) {
    <section>
      @if (channelService.messages.length > 0)  {
      @for (message of channelService.messages; track $index) {
        <app-message [message]="message" #messageItem></app-message>
        @if (isNewDate($index)) {
          <div class="timestamp-container">
            <div class="line-container"><div class="line"></div></div>
            <div class="timestamp-line">{{ lastFormattedDate }}</div>
          </div>
        }
      }
      } @else {
        <div class="placeholder-container">
          <div class="placeholder-text">
            Dieser Channel ist für 
            @for (member of channelService.usersFromChannel; track $index) {
              <span (click)="showProfileService.toggleShowProfile()" class="link-name">
                @if (member.uid == chatService.firebase.currentUser.uid) { <span>(Du)</span> }
                @else {
                  &#64;{{ member.name }}
                }
              </span>
              @if ($index == channelService.usersFromChannel.length - 2) { <span> und </span> } @else {
                @if ($index < channelService.usersFromChannel.length - 1) {
                  <span>, </span>
                }
              }
              
              
            }
            zum austauschen da.
          </div>
        </div>
      }
    </section>
    
  }
}
