<section #scrollSection>
  @if (chat) { @if (chat.messages.length > 0) { @for (message of chat.messages;
  track $index) {
  <div
    class="message-container"
    #messageItem
    [class.fd-rr]="message.uid === chatService.firebase.currentUser.uid"
  >
    <div
      class="avatar"
      [class.shadow]="message.uid === chatService.firebase.currentUser.uid"
    >
      @if (message.uid === chatService.firebase.currentUser.uid) {
      <img src="{{ chat.user.avatar }}" alt="avatar" />
      } @else {
      <img src="{{ chat.partner.avatar }}" alt="avatar" />
      }
    </div>
    <div
      class="message-content"
      [class.ms-c-right]="message.uid === chatService.firebase.currentUser.uid"
    >
      <div
        class="message-header"
        [class.fd-rr]="message.uid === chatService.firebase.currentUser.uid"
      >
        @if (message.uid === chatService.firebase.currentUser.uid) {<span>{{
          chat.user.name
        }}</span>
        } @else {<span>{{ chat.partner.name }}</span
        >}
        <span class="timestamp">{{ message.timestamp | date : "HH:mm" }}</span>
      </div>
      <div
        class="message-text"
        [class.mt-right]="message.uid === chatService.firebase.currentUser.uid"
        [class.own-message]="message.uid === chatService.firebase.currentUser.uid"
      >
        {{ message.text }}
      </div>
    </div>
  </div>
  }} @else {
  <div class="placeholder-container">
    <div (click)="showProfileService.toggleShowProfile()" class="placeholder-header">
      @if (chat.partner.avatar) {
      <img [src]="sanitize(chat.partner.avatar)" alt="" />
      }
      <span
        >{{ chat.partner.name }} @if(chat.partner.uid ==
        chatService.firebase.currentUser.uid) { <span>(Du)</span> }
      </span>
    </div>
    <div class="placeholder-text">
      @if (chat.partner.uid == chatService.firebase.currentUser.uid) {
      <span class="gray-text-placeholder">Dieser Raum ist nur für dich da.</span>
      Mache dir Notizen, liste deine To-dos auf oder bewahre Links und Dateien
      griffbereit auf. Du kannst hier auch gerne Dinge mit dir selbst
      besprechen. }@else { Diese Unterhaltung findet nur zwischen
      <span (click)="showProfileService.toggleShowProfile()" class="link-name">&#64;{{ chat.partner.name }}</span>
      und dir statt. }
    </div>
  </div>
  } }
</section>
