@import "./../../../../assets/styles/mixIns.scss";
@import "./../../../../assets/styles/colors.scss";

.input-container {
  @include displayFlex(column, center, unset, 20px);
  margin: 0 45px 40px 45px;
  border: 1px solid $light_purple;
  padding: 15px 20px 15px 20px;
  border-radius: 20px;
  cursor: pointer;
  .message-input {
    cursor: pointer;
    line-height: 40px;
    width: 100%;
    border: none;
    font-family: "Nunito";
    font-size: 18px;
    font-weight: 400;
    line-height: 24.55px;
    resize: none;
    scrollbar-width: none;
    &::placeholder {
      font-family: "Nunito";
      font-size: 18px;
      font-weight: 400;
      line-height: 24.55px;
    }
    &:focus {
      outline: none;
    }
  }
  &:hover,
  &:focus-within {
    border-color: $purple_2;
  }
}

.purple-border {
  border-color: $purple_2;
}

.send-container {
  position: relative;
  width: 100%;
  @include displayFlex(row, space-between, center, 0);
  .send-btn {
    cursor: pointer;
    &:hover path {
      fill: $purple_2;
    }
  }
}

.send-btn-disabled {
  cursor: not-allowed;
  &:hover path {
    fill: $light_purple;
  }
}



.send-options-container {
  @include displayFlex(row, space-between, center, 5px);
  width: 100%;
}

.btn-container {
  @include displayFlex(row, center, center, 0);
}

.file-input {
  display: none;
}

.plus-btn {
  padding-right: 5px;
  border-right: 1px solid $light_purple;
}

ngx-editor::ng-deep {
  .NgxEditor {
    border: 0px;
  }
}

.message-editor::ng-deep {
  .NgxEditor__Content p {
    vertical-align: middle;
    font-family: 'Nunito';
    font-size: 18px;
    line-height: 24.55px;
    font-weight: 400;
    margin: 0;
  }
  .file-container {
    @include displayFlex(column, center, center, 10px);
    background-color: aqua;
  }
  // .NgxEditor__Content img {
  //   height: 20px;
  // }
}

.bg-spinner {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  inset: 0;
  z-index: 10;
  @include displayFlex(column, center, center, 0);
  width: 100vw;
  height: 100vh;
  .spinner {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid $purple_2;
    border-top: 5px solid $light_purple;
    animation: spin 1s linear infinite;
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}