<section #messageItem>
  @if (message.uid === chatService.firebase.currentUser.uid) {
  <div class="message-container fd-rr" [class.fd-rr]="isCurrentUser(message.uid)">
    <img class="avatar shadow" src="{{ user.avatar }}" alt="avatar" />
    @if (isEditing) {
    <app-editable-message
      [message]="message"
      (closeEditEvent)="closeEdit($event)"
    ></app-editable-message>
    } @else {
    <div class="message-content ms-c-right">
      <div class="message-header fd-rr">
        <span class="name" (click)="showProfileService.toggleShowProfile()">{{
          user.name
        }}</span>
        <span class="timestamp">
          {{ message.timestamp | date : "HH:mm" }} Uhr
        </span>
      </div>
      <div class="message-text mt-right own-message" [innerHTML]="message.text">
      </div>
      @if (message.editedTimestamp) {
      <span class="timestamp"
        >bearbeitet am
        {{ message.editedTimestamp | date : "dd. MMM, HH:mm" }}</span
      >
      }
      <div class="emojis">
        @for (emoji of message.emojis; track $index) { @if (emoji.count > 0) {
        <app-emoji-counter [emoji]="emoji" [message]="message" [cid]="cid" [user]="user"></app-emoji-counter>
        } }
        @if (areAnyEmojis()) {
          <app-emoji-picker-button (emojiPickerEvent)="addReaction($event)">
            <app-svg-button [source]="'./assets/img/main-page/reactions/add_reaction.svg'"/>
          </app-emoji-picker-button>
        }
        
      </div>
      <app-reaction-bar
        class="reaction-bar reaction-bar-left"
        [editable]="true"
        [message]="message"
        (editMessageEvent)="editMessage($event)"
        (addReactionEvent)="addReaction($event)"
      ></app-reaction-bar>
    </div>
    }
  </div>
  } @else {
  <div class="message-container">
    <img class="avatar" src="{{ partner.avatar }}" alt="avatar" />
    <div class="message-content">
      <div class="message-header">
        <span class="name" (click)="showProfileService.toggleShowProfile()">
          {{ partner.name }}
        </span>
        <span class="timestamp"
          >{{ message.timestamp | date : "HH:mm" }} Uhr</span
        >
      </div>
      <div class="message-text" [innerHTML]="message.text">
      </div>
      @if (message.editedTimestamp) {
      <span class="timestamp"
        >bearbeitet am
        {{ message.editedTimestamp | date : "dd. MMM, HH:mm" }}</span
      >
      }
      <div class="emojis">
        @for (emoji of message.emojis; track $index) { @if (emoji.count > 0) {
          <app-emoji-counter [emoji]="emoji" [message]="message" [cid]="cid" [user]="user"></app-emoji-counter>
          } }
          @if (areAnyEmojis()) {
            <app-emoji-picker-button (emojiPickerEvent)="addReaction($event)">
              <app-svg-button [source]="'./assets/img/main-page/reactions/add_reaction.svg'" />
            </app-emoji-picker-button>
          }
      </div>
      <app-reaction-bar
        class="reaction-bar reaction-bar-right"
        [editable]="false"
        (editMessageEvent)="editMessage($event)"
        [message]="message"
        (addReactionEvent)="addReaction($event)"
      ></app-reaction-bar>
    </div>
  </div>
  }
</section>
