@import "./../../../assets/styles/mixIns.scss";
@import "./../../../assets/styles/colors.scss";

section {
  background-color: white;
  height: 100%;
  padding: 32px 30px;
  border-radius: 30px;
  width: 366px;
  font-family: "Nunito";
}

.chat-list-container {
  @include displayFlex(column, unset, unset, 25px);
  max-height: 940px;
  height: calc(100% - 75px);
  overflow: auto;
  scrollbar-width: none;
}

.logo-container {
  @include displayFlex(row, flex-start, center, 16px);
  margin-bottom: 25px;
}

.logo {
  @include displayFlex(row, flex-start, center, 15px);
  flex: 1;
  cursor: default;

  span {
    font-size: 24px;
    font-weight: 700;
    line-height: 32.74px;
  }
}

.input-container {
  display: none;
  width: 100%;
  height: 50px;
  position: relative;
  margin-bottom: 25px;

  img {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }

  input {
    width: 100%;
    height: 100%;
    border-radius: 42px;
    padding: 12px 45px 12px 25px;
    font-size: 17px;
    line-height: 32.74px;
    color: #686868;
    border: 1px solid #ADB0D9;
  }
}

.founded-content-container {
  position: absolute;
  z-index: 9999;
  top: 78px;
  left: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  padding: 30px;
  max-height: 320px;
  max-width: 260px;
  border-radius: 0 20px 20px 20px;
  overflow-y: auto;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);

  &::-webkit-scrollbar {
      width: 0;
  }

  span {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      padding: 5px 29px;
      border-radius: 100px;

      &:hover {
          background-color: #ECEEFE;
          color: #535AF1;
      }

      span {
          font-weight: 900;
          padding: 0;
          text-align: center;
          word-break: break-all;
      }

      img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
      }
  }
}

.edit-square {
  cursor: pointer;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  transition: all 100ms ease-in-out;

  &:hover {
    background-color: $bg_color;
  }

  &:hover path {
    d: path("M12.8502 32.5002C12.1169 32.5002 11.4919 32.2419 10.9752 31.7252C10.4585 31.2085 10.2002 30.5835 10.2002 29.8502V15.5502C10.2002 14.8169 10.4585 14.1919 10.9752 13.6752C11.4919 13.1585 12.1169 12.9002 12.8502 12.9002H22.2752L19.6252 15.5502H12.8502V29.8502H27.1502V23.0752L29.8002 20.4252V29.8502C29.8002 30.5835 29.5419 31.2085 29.0252 31.7252C28.5085 32.2419 27.8835 32.5002 27.1502 32.5002H12.8502ZM23.7502 14.2252L25.6502 16.1252L19.3252 22.4002V23.3752H20.2752L26.6002 17.0752L28.4502 18.9502L22.1752 25.2502C21.9252 25.5002 21.6375 25.6919 21.3122 25.8252C20.9875 25.9585 20.6502 26.0252 20.3002 26.0252H18.0002C17.6335 26.0252 17.3209 25.8959 17.0622 25.6372C16.8042 25.3792 16.6752 25.0669 16.6752 24.7002V22.4002C16.6752 22.0502 16.7419 21.7125 16.8752 21.3872C17.0085 21.0625 17.2002 20.7752 17.4502 20.5252L23.7502 14.2252ZM28.4502 18.9502L23.7502 14.2252L26.2252 11.7502C26.7585 11.2169 27.3919 10.9502 28.1252 10.9502C28.8585 10.9502 29.4835 11.2169 30.0002 11.7502L30.9502 12.7252C31.4669 13.2585 31.7252 13.8835 31.7252 14.6002C31.7252 15.3169 31.4669 15.9335 30.9502 16.4502L28.4502 18.9502Z"
      );
    fill: $purple_1;
  }

  &:active path {
    fill: black;
  }
}

.plus-btn {
  cursor: pointer;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  transition: all 100ms ease-in;

  &:hover {
    background-color: $bg_color;
  }

  &:hover path {
    d: path("M15 22.3501C14.6333 22.3501 14.3207 22.2208 14.062 21.9621C13.804 21.7041 13.675 21.3918 13.675 21.0251V16.3001H8.95C8.58333 16.3001 8.271 16.1708 8.013 15.9121C7.75433 15.6541 7.625 15.3418 7.625 14.9751C7.625 14.6084 7.75433 14.2958 8.013 14.0371C8.271 13.7791 8.58333 13.6501 8.95 13.6501H13.675V8.9251C13.675 8.55843 13.804 8.24576 14.062 7.9871C14.3207 7.7291 14.6333 7.6001 15 7.6001C15.3667 7.6001 15.6793 7.7291 15.938 7.9871C16.196 8.24576 16.325 8.55843 16.325 8.9251V13.6501H21.05C21.4167 13.6501 21.7293 13.7791 21.988 14.0371C22.246 14.2958 22.375 14.6084 22.375 14.9751C22.375 15.3418 22.246 15.6541 21.988 15.9121C21.7293 16.1708 21.4167 16.3001 21.05 16.3001H16.325V21.0251C16.325 21.3918 16.196 21.7041 15.938 21.9621C15.6793 22.2208 15.3667 22.3501 15 22.3501Z"
      );
    fill: $purple_1;
  }

  &:active path {
    fill: black;
  }
}

.channels-container {
  @include displayFlex(column, space-between, unset, 25px);
}

.channels-header {
  @include displayFlex(row, space-between, center, 0);
  padding: 0 3px;
}

.channels-title {
  @include displayFlex(row, flex-start, center, 10px);

  span {
    font-size: 20px;
    font-weight: 700;
    line-height: 27.28px;
  }
}

.channels-arrow {
  transform: rotate(-90deg);
  width: 30px;
  height: 30px;
}

.arrow_drop_down {
  transform: rotate(0deg);
}

.channels-btn {
  @include displayFlex(row, flex-start, center, 15px);
  cursor: pointer;

  &:hover {
    color: $purple_1;
  }

  &:hover svg path {
    fill: $purple_1;
  }

  &:active svg path {
    fill: black;
  }

  &:active {
    color: black;
  }
}

.users-container {
  @include displayFlex(column, unset, unset, 13px);
}

.user {
  @include displayFlex(row, flex-start, center, 15px);
  cursor: pointer;
  margin-left: 20px;
  padding: 4px 20px;
  border-radius: 30px;
  width: fit-content;

  &:hover {
    background-color: $bg_color;
  }

  &:active .avatar {
    font-weight: 700;
  }
}

.all-channels-container {
  @include displayFlex(column, unset, unset, 13px);
}

.channel {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 25px;
  padding: 4px 20px;
  border-radius: 20px;
  width: fit-content;
  cursor: pointer;

  &:hover {
    background-color: #ECEEFE;
  }

  &:hover path {
    fill: #535AF1;
  }

  span {
    font-size: 18px;
    line-height: 24.55px;
  }
}

.current-channel {
  background-color: #ECEEFE;

  svg path {
    fill: #535AF1;
  }

  span {
    font-weight: 700;
    color: #535AF1;
  }
}

.add-channel-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 45px;
  margin-top: 20px;
  cursor: pointer;

  &:hover path {
    fill: #535AF1;
  }

  &:hover span {
    color: #535AF1;
  }

  span {
    font-size: 18px;
    line-height: 24.55px;
  }
}

.active {
  .name {
    font-weight: 700;
    color: $purple_3;
  }

  background-color: $bg_color;
}

.avatar {
  @include displayFlex(column, center, center, 0);

  img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    object-fit: cover;
  }

  .status-container {
    @include displayFlex(row, flex-end, center, 0);
    position: relative;
    width: 100%;
  }
}

.status-dot {
  position: absolute;
  height: 14px;
  width: 14px;
  border: 2px solid white;
  border-radius: 20px;
  transform: translateY(-50%);
}

.name {
  font-size: 18px;
  font-weight: 400;
  line-height: 24.55px;
}

.online {
  background: $online_green;
}

.offline {
  background: $gray;
}

.new-message {
  display: none;
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 2;
}

@media(max-width: 970px) {
  .input-container {
    display: block;
  }

  .logo-container {
    display: none;
  }
}

@media(max-width: 970px) {
  section {
    width: 100vw;
    border-radius: unset;
    padding: 32px 20px;
  }

  .new-message {
    display: unset;
  }
}