<div class="forgot-password-container">
    <div (click)="handleIsLoginUrl()" class="back-arrow"></div>
    <h2>Passwort zurücksetzen</h2>
    <p>Bitte geben Sie ihre E-Mail-Adresse ein.</p>
    <form>
        <div class="pos-rel-container">
            <input type="email" name="email" id="email" placeholder="beispielnamen@email.com">
            <img src="./assets/img/auth/email.png" alt="email">
        </div>
        <p>Wir senden Ihnen eine E-Mail, über die Sie ihr Passwort ändern können.</p>
        <div class="send-email-container">
            <button>E-Mail senden</button>
        </div>
    </form>
</div>