.landing-page-background-container {
    height: 100vh;
    background: #ECEEFE;
}

.landing-page-container {
    max-width: 1920px;
    height: 100%;
    padding: 80px 80px 0 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: moveToTopLeft 0.8s ease 1.5s forwards;
    }

    .create-account-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;

        span {
            font-size: 18px;
            padding: 0 25px;
        }
    }
}

.legal-links-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 40px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #797EF3;
    padding: 12px 25px;
    display: inline-block;
    border: 1px solid transparent;

    &:hover {
        border: 1px solid #686868;
        border-radius: 25px;
    }
}

.intro-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(1.46deg, #313AE6 1.22%, #797EF3 98.76%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    animation: moveAndFade 0.8s ease 1.5s forwards;

    .intro-input-container {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        animation: moveAndFade 0.8s ease 1.5s forwards;

        div {
            font-size: 80px;
            font-weight: 700;
            color: white;
        }
    }
}

.mobile-create-account-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
        font-size: 18px;
        padding-bottom: 30px;
    }

    a {
        text-decoration: none;
        font-size: 18px;
        line-height: 24.55px;
        color: #444DF2;
        border: 1px solid #797EF3;
        border-radius: 25px;
        padding: 7px 18px;
    }
}

@keyframes moveAndFade {
    0% {
        height: 100vh;
        width: 100%;
        opacity: 1;
    }

    100% {
        height: 25vh;
        width: 25%;
        opacity: 0;
    }
}

@keyframes moveAndFadeCenter {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes moveAndFadeCenterImg {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    100% {
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@keyframes moveToTopLeft {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    100% {
        top: 80px;
        left: 80px;
        transform: translate(0, 0);
    }
}

@keyframes moveToTopCenter {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    100% {
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 720px) {
    .landing-page-container {
        justify-content: unset;
        gap: 50px;
    }

    .header-container {

        img {
            animation: moveToTopCenter 0.8s ease 1.5s forwards;
        }
    }

    .header-container {

        .create-account-container {
            display: none;
        }
    }

    .legal-links-container {
        display: none;
    }

    .intro-container {
        animation: moveAndFadeCenter 0.8s ease 1.5s forwards;

        .intro-input-container {
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            animation: moveAndFadeCenterImg 0.8s ease 1.5s forwards;
        }
    }
}