<div class="landing-page-background-container">
    <div class="landing-page-container">
        <div class="header-container">
            <img src="./assets/img/logo.png" alt="logo">
            @if(isLoginUrl){
            <div class="create-account-container">
                <span>Neu bei DABubble?</span>
                <a routerLink="signup">Konto erstellen</a>
            </div>
            }
        </div>
        <router-outlet style="display: none;" />
        <div class="legal-links-container">
            <a routerLink="imprint">Impressum</a>
            <a routerLink="privacy-policy">Datenschutz</a>
        </div>
    </div>
</div>
<div class="intro-container">
    <img src="./assets/img/landing-page/intro_logo.png" alt="intro logo">
    <div data-aos="fade-right" data-aos-delay="500" data-aos-easing="ease-in-sine">
        DABubble
    </div>
</div>