@import './../../../../../../assets/styles/mixIns.scss';
@import './../../../../../../assets/styles/colors.scss';

section {
  @include displayFlex(row, center, center, 0px);
  position: relative;
}

.emoji-picker {
  position: absolute;
  z-index: 3;
  top: 0;
  background-color: white;
  @include displayFlex(row, center, center, 5px);
  display: none;
  border-radius: 30px 30px 30px 30px;
  padding: 3px 20px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2);
  margin: 5px;
  width: fit-content;
  transform: translateY(100%);
}

.show {
  display: flex;
}

.emoji {
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  &:hover {
    background-color: $bg_color;
  }
}