<div class="forgot-password-container">
    <div routerLink=".." class="back-arrow"></div>
    <h2>Passwort zurücksetzen</h2>
    <p>Bitte geben Sie ihre E-Mail-Adresse ein.</p>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="pos-rel-container">
            <input type="email" name="email" [(ngModel)]="userData.email" ngModel required
                pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" id="email"
                placeholder="beispielnamen@email.com">
            <img src="./assets/img/auth/email.png" alt="email">
            @if (validEmail) {
            <span>*Diese E-Mail-Adresse ist leider ungültig.</span>
            }
        </div>
        <p>Wir senden Ihnen eine E-Mail, über die Sie ihr Passwort ändern können.</p>
        <div class="send-email-container">
            <button class="inactive-button" [ngClass]="{'active-button': form.valid}" type="submit"
                [disabled]="form.invalid">E-Mail senden</button>
        </div>
    </form>
</div>
<div [ngStyle]="{'display': !showSendEmailMessage ? 'none' : 'unset'}" class="feedback-container">
    <div class="pos-rel-container">
        <div class="button-container">
            <img src="./assets/img/auth/send.png" alt="send">
            <div>
                E-Mail gesendet
            </div>
        </div>
    </div>
</div>