<div class="forgot-password-container">
    <div routerLink=".." class="back-arrow"></div>
    <h2>Passwort zurücksetzen</h2>
    <p>Bitte geben Sie ihre E-Mail-Adresse ein.</p>
    <form [formGroup]="userForm" (ngSubmit)="sendPasswordResetEmail()">
        <div class="pos-rel-container">
            <input type="email" formControlName="email" id="email" placeholder="beispielnamen@email.com">
            <img src="./assets/img/landing-page/email.png" alt="email">
            @if (userForm.get('email')?.touched && userForm.get('email')?.invalid) {
            @if (userForm.get('email')?.errors?.['required']) {
            <span>Bitte schreiben Sie eine E-Mail</span>
            }
            @if (userForm.get('email')?.errors?.['pattern']) {
            <span>Diese E-Mail-Adresse ist leider ungültig.</span>
            }
            }
            @if (emailSent) {
            <span>*Diese E-Mail-Adresse ist leider ungültig.</span>
            }
        </div>
        <p>Wir senden Ihnen eine E-Mail, über die Sie ihr Passwort ändern können.</p>
        <div class="send-email-container">
            <button class="inactive-button" [ngClass]="{'active-button': userForm.valid}" type="submit"
                [disabled]="userForm.invalid">E-Mail senden</button>
        </div>
    </form>
</div>
<div [ngStyle]="{'display': !showSendEmailMessage ? 'none' : 'unset'}" class="feedback-container">
    <div class="pos-rel-container">
        <div class="button-container">
            <img src="./assets/img/landing-page/send.png" alt="send">
            <div>
                E-Mail gesendet
            </div>
        </div>
    </div>
</div>