<div class="choose-avatar-container">
    <div routerLink=".." class="back-arrow"></div>
    <h2>Wähle deinen Avatar</h2>
    <div class="profile-container">
        <img (click)="onUploadButtonClick()" src="{{avatar}}" alt="profile">
        <span>{{currentUser.name}}</span>
    </div>
    <div class="avatar-container">
        <span>Aus der Liste wählen</span>
        <div class="avatar">
            @for (avatar of [0,1,2,3,4,5]; track $index) {
            <img (click)="selectedAvatar(avatar)" src="./assets/img/character{{avatar}}.png" alt="character">
            }
        </div>
        <div class="personal-img-container">
            <span>eigenes Bild verwenden</span>
            <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" />
            <button (click)="onUploadButtonClick()">Datei hochladen</button>
        </div>
    </div>
    <div class="next-button-container">
        <button (click)="saveUser()" class="inactive-button" [ngClass]="{'active-button': chooseAvatar}">weiter</button>
    </div>
</div>
<div [ngStyle]="{'display': !showCreateUser ? 'none' : 'unset'}" class="feedback-container">
    <div class="pos-rel-container">
        <div>
            Konto erfolgreich erstellt!
        </div>
    </div>
</div>