<section>
  @if (chatService.newMessage) {
  <div class="new-message-container">
    <h1>Neue Nachricht</h1>
    <input
      class="search-input"
      type="text"
      placeholder="An: #channel, oder @jemand oder E-Mail Adresse"
    />
  </div>
  }
  @if (directChat && partner && !chatService.newMessage) {
    <div (click)="showProfileService.toggleShowProfile()" class="user-container">
      <div class="avatar">
        <img src="{{partner.avatar}}" alt="avatar">
        <div class="status-container"><div class="status-dot" [ngClass]="partner.online ? 'online' : 'offline'"></div></div>
      </div>
      <div class="name">
        {{partner.name}}
        @if (firebase.currentUser.uid === partner.uid) {
          (Du)
        }
      </div>
    </div>
  }
</section>
@if (chatService.loading) {
  <div class="progress-container progressing-container">
    <div #progressBar class="progress-bar progress" ></div>
  </div>
}
